:root {
    --primary-text-color: #434455;
    --secondary-background-color: #f4f4fd;
    --variable-color: #404bbf;
    --accent-color: #4D5AE5;
    --blue-color: #2E2F42;
    --white-color: #ffffff;
    --footer-text: #E7E9FC;
}
.container {
    width: 1158px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--white-color);
}

.link {
    text-decoration: none;
}

.span_logo {
    color: var(--accent-color);
}

.header-logo {
    font-family: 'Releway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--blue-color);
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-link {
    font-size: 16px;
    color: var(--blue-color);
    letter-spacing: 0.02em;
}

.header-link:hover {
    color: var(--variable-color);
}

.header-link:focus {
    color: var(--variable-color);
}

.header-mail {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em;
    font-style: normal;
}

.header-mail:hover {
    color: var(--variable-color);
}

.header-mail:focus {
    color: var(--variable-color);
}

.header-tel {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
}

.header-tel:hover {
    color: var(--variable-color);
}

.header-tel:focus {
    color: var(--variable-color);
}

.list {
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
}
.fon-title {
    color: var(--white-color);
    background: var(--blue-color);
    align-items: center;
}
.style_btn {
    font-family: inherit;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /*display: flex;*/
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--secondary-background-color);
    background-color: var(--accent-color);
}
.style_btn:hover{
    background-color: var(--variable-color);
}
.text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.features_list_title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.features_list_text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}


.works_btn {
    font-family: inherit;
    background-color: var(--secondary-background-color);
    font-weight: 500;
    color: var(--accent-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.works_btn:hover {
    background-color: var(--variable-color);
    color: var(--white-color);
}

.works_btn:focus {
    background-color: var(--variable-color);
    color: var(--white-color);
}

.teams-list-title {
    font-size: 20px;
    line-height: 0.8;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.teams-list-text {
    font-size: 16px;
    line-height: 0.7;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.features {
    opacity: 0;
}

.works {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}

.features_list {
    list-style: none;
}

.works-list {
    list-style: none;
}

.works_list_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
    color: var(--blue-color);
}

.works_list_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.84;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.teams {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.teams-list {
    list-style: none;
    background: var(--secondary-background-color);
}

.teams_people1 {
    /*
    margin-right: 30px;
    margin-left: 24px;
    */
}

.teams_people2 {
    /*
    margin-right: 30px;
    margin-left: 24px;
    */
}

.teams_people3 {
    /*
        margin-right: 30px;
        margin-left: 24px;
        */
}

.works-list1 {
    /*
    margin-right: 30px;
    margin-left: 24px;
    */
}

.works-list2 {
    /*
    margin-right: 30px;
    margin-left: 24px;
    */
}

.works {
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.works_list {
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
}

.footer {
    background-color: var(--blue-color);
    /*position: absolute;
    width: 1440px;
    height: 310px;
    left: 0px;
    top: 2280px;
       */
}

.footer_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--footer-text);
}

.footer_logo {
    font-family: 'Raleway';
    font-weight: 800;
    color: var(--accent-color);
    text-decoration: none;
    text-transform: uppercase;
}

.fot_stud {
    font-family: 'Raleway';
    color: var(--secondary-background-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
}